appdirs==1.4.4
autograd==1.6.2
autoray==0.6.12
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
future==1.0.0
idna==3.7
networkx==3.2.1
numpy==1.26.4
PennyLane==0.36.0
PennyLane_Lightning==0.36.0
requests==2.32.2
rustworkx==0.14.2
scipy==1.13.0
semantic-version==2.10.0
toml==0.10.2
typing_extensions==4.11.0
urllib3==2.2.1
